body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.dwan {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.timer {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;
    border-radius: 4px;
}
.message {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-top: 10px;
}
